h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}



page {
    text-align: center;
}

p {
    font-style: normal, green;
}

 img {
    display: block;
    margin: auto;
}